html {
    min-height: 100%;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #1A1A1D;
    color: grey;
    margin: 0;
    padding: 0;
    height: 100vh;
}

img {
    text-align: center;
    float: left;
    width: 45%;
    margin: 0;
    bottom: 0;
    height: auto;
}

div#pageContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

div#header {
    text-align: center;
}

div#footer1 {
    text-align: center;
}

div#footer2 {
    text-align: center;
    color: gray;
    padding: 20px;
    bottom: 0px;
}

.boxTitle {
    width: 100%;
    text-align: center;
    flex-grow: 1;
    margin: 0px;
    padding: 10px;
}
.innerGridContainer {
    width: 100%;
    flex-grow: 100;
    margin: 0px;

    /* Grid */
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 50% 50%; */
    grid-template-areas: 
        "upLeft upRight"
        "downLeft downRight";
}
.status {
    font-weight: 800;
    font-size: 10pt;
}
.innerBox {
    background-color: #6F2232;
    position: relative;
    padding: 5px;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px  #4E1823;
    font-size: 9pt;
    color: lightgray;
}

.innerBoxButton {
    background-color: #6F2232;
    padding: 5px;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px  #4E1823;
    border: 1px solid white;
    font-size: 9pt;
    color: lightgray;
    position: relative;
}
.innerBoxButton:hover {
    
    background-color: grey;
    transform: scale(1.01);
    transition: 200ms;
    opacity: 0.9;
    
}
.innerBoxButton:active {
    
    background-color: #950740;
    transform: scale(1.01);
    transition: 200ms;
    opacity: 0.9;
}



/* Mobile version */

@media screen and (max-width: 500px)
{
    div#container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
    }
    .box {
        /*Inner Flex*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        width: 100%;
        height: 250px;
        padding: 10px;
        margin: 10px;
        background-color: #4E4E50;
        color : lightgray;

        border-radius: 7px;
        box-shadow: 2px 2px 8px black;
    }

}

/* Computer Version */

@media screen and (min-width: 500px)
{

    div#pageContainer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    div#container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0px;
    }
    .box {
        /*Inner Flex*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /*box*/
        width: 20%;
        height: 50%;
        padding: 10px;
        margin: 10px;
        background-color:#4E4E50;
        color : lightgrey;

        border-radius: 7px;
        box-shadow: 2px 2px 8px black;
    }
}


/* .box:hover
{
    background-color: darkgrey;
    transform: scale(1.03);
    transition: 200ms;
    opacity: 0.9;
} */

